<h3 style="text-align: center;">Register Map Form</h3>
<form name="inserMapForm" ng-controller="InserMapController">
    <div class="form-group">
        <label for="mapName">Map Name</label>
        <input ng-model="newMap.name" required type="text" class="form-control" id="mapName">
        <h3 style="text-align: center">Logistics Network</h3>
        <div class="form-group" id="networkPathForm">
            <label for="sourcePoint">Source Point Name</label>
            <input type="text" ng-model="sourcePoint" class="form-control" id="sourcePoint">
            <label for="destinyPoint">Destiny Point Name</label>
            <input type="text" ng-model="destinyPoint" class="form-control" id="destinyPoint">
            <label for="distance">Distance</label>
            <input type="number" ng-model="distance" class="form-control" id="distance">
            <button ng-click="addNewPath()" class="btn btn-success"><b>+</b></button>
        </div>
    </div>
    <div id="currentPaths" class="form-group">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Source Point Name</th>
                        <th>Destiny Point Name</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="path in newMap.logisticsNetwork">
                        <td>{{path.sourceName}}</td>
                        <td>{{path.destinyName}}</td>
                        <td>{{path.distance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
    <button type="submit" ng-click="inserMapForm.$valid && registerMap()" class="btn btn-success">Save Map</button>
</form>