<h3 style="text-align: center;">Choose your destiny</h3>
<div ng-controller="ShortestPathFinderController">
    <form name="shortestPathForm" id="shortestPathForm">
        <div class="form-group">
            <label for="mapSelect" >Map Name</label>
            <select class="form-control" id="mapSelect" ng-options="map.name for map in mapList" ng-model="selectedMap" ng-change="onMapSelect()"></select>
        </div>
        <div class="form-group">
            <label for="sourcePath" >Source Path Name</label>
            <select class="form-control" id="sourcePath" ng-options="node for node in availableSources" ng-model="selectedSourcePath"></select>
        </div>
        <div class="form-group">
            <label for="sourcePath" >Destiny Name</label>
            <select class="form-control" id="sourcePath" ng-options="node for node in availableDestinations" ng-model="selectedDestinyPath"></select>
        </div>
        <div style="width: 50%; float: left; padding-right: 10px">
            <label for="autonomy" >Km/l</label>
            <input id="autonomy" type="number" ng-model="autonomy" class="form-control">
        </div>
        <div style="width: 50%; float: right; padding-left: 10px">
            <label for="gasPrice" >Gas Price</label>
            <input id="gasPrice" type="text" ng-model="gasPrice" class="form-control">
        </div>
        <button style="margin-top: 15px;" type="submit" ng-click="shortestPathForm.$valid && calculateShortestPath()" class="btn btn-success">Get shortest path</button>
    </form>
    <div style="width: 34%; height: 120px; float: left; margin-top: 15px">
        <h4 style="text-align: center">Your Shortest Path from {{selectedSourcePath}} to {{selectedDestinyPath}}</h4>
        <ul ng-repeat="vertex in calculationResponse.shortestPath">
            <li>[{{$index + 1}}] {{vertex.vertexName}}</li> 
        </ul>
        <h5 ng-show="calculationResponse === ''" style="color: yellow; text-align: center; background-color: black">Impossible to reach your destination from {{selectedSourcePath}} to {{selectedDestinyPath}}</h5>
    </div>
    <div style="width: 33%; height: 300px; float: left; margin-top: 15px">
        <h4 ng-show="calculationResponse !== ''" style="text-align: center">Delivery Cost: {{calculationResponse.totalCost | currency}}</h4>
        
    </div>
</div>